<div class="card-top container-fluid botones">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
                <h6>Todos los productos</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
                <h6>Electronicos</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">
                <h6>Ropa</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <img style="width: 42px; margin-top: 5px;" src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50" alt="">
                <h6>Joyeria</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | paginate: { itemsPerPage:5 , currentPage: pageSize }">
            <div class="card col-md-2">
                <img class="img" src="{{item.image}}">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Precio:</strong> ${{item.price}}</p>
                <button class="btn btn-primary" (click)="addtoCart(item)">Comprar</button>
                <div class="row">
                    <button class="btn btn-success col-md-1">-</button>
                    <input type="text" class="col-md-1">
                    <button class="btn btn-success col-md-1" (click)="addtoCart(item)">+</button>
                </div>
            </div>
        </ng-container>
        <!-- <pagination-controls id="some_id" 
        (pageChange)="pageChanged($event)" 
        (pageBoundsCorrection)="pageChanged($event)"
         maxSize="9" directionLinks="true" 
         autoHide="true" responsive="true" 
         previousLabel="Previous" 
         nextLabel="Next" 
         screenReaderPaginationLabel="Pagination"
         screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls> -->
        <pagination-controls (pageChange)="pageSize = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        <!-- <lib-ngx-image-zoom [thumbImage]=images [fullImage]=images [magnification]="1" [enableScrollZoom]="true" [enableLens]="true" [lensWidth]="200">
        </lib-ngx-image-zoom> -->
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>