<div class="container">
    <div class="d-flex justifi-content-center">
        <div class="card">
            <div class="card-header">
                <h3>Registro</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <!-- <form [formGroup]="form" (ngSubmit)="login()"> -->
                <form>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" formControlName="correo" class="form-control" placeholder="correo">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" formControlName="password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <button class="btn float-right login_btn" (click)="login()">login</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>